       

      <%if current_user%>
<div class="wrapper col5">
  <div id="latest">
    <ul>
      <li>
        <h2>Borc Takibi</h2>
        <p class="imgholder"><img src="images/asd.png" alt="" /></p>
        <p>Kime , ne zaman , ne kadar borc veridn hatirlamiyor musun ? Borclarinin takibi artik cok daha kolay. Sende.... <a href="<%=friends_path%>">Dahasi &raquo;</a></p>
      </li>
      <li>
        <h2>Borc Analizleri</h2>
        <p class="imgholder"><img src="images/Untitled_edited-1.jpg" alt="" /></p>
        <p>Vergin borclarin hesabini artik tutamiyorsun. Gelirinden cok verdigin borclarin gideri var. Kimler gununde oduyor kimler...  <a href="">Dahasi &raquo;</a></p>
      </li>
      <li class="last">
        <h2>Sosyal Medya ve Email</h2>
        <p class="imgholder"><img src="images/Untitled.png" alt="" /></p>
        <p>Borclarini odemeyen arkadaslarin artik cok canini sikmaya basladi. O zaman onlarin bu nankorluklerini sosyal medyada paylas herkes onun ne mal oldugunu ogrensin.... <a href="">Dahasi &raquo;</a></p>
      </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br class="clear" />
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  
  <p>&nbsp;</p>
</div>


       <%else%>
        <div class="wrapper col5">
  <div id="latest">
    <ul>
      <li>
        <h2>Borc Takibi</h2>
        <p class="imgholder"><img src="images/asd.png" alt="" /></p>
        <p>Kime , ne zaman , ne kadar borc veridn hatirlamiyor musun ? Borclarinin takibi artik cok daha kolay. Sende.... <a href="/auth/twitter">Dahasi &raquo;</a></p>
      </li>
      <li>
        <h2>Borc Analizleri</h2>
        <p class="imgholder"><img src="images/Untitled_edited-1.jpg" alt="" /></p>
        <p>Vergin borclarin hesabini artik tutamiyorsun. Gelirinden cok verdigin borclarin gideri var. Kimler gununde oduyor kimler...  <a href="#">Dahasi &raquo;</a></p>
      </li>
      <li class="last">
        <h2>Sosyal Medya ve Email</h2>
        <p class="imgholder"><img src="images/Untitled.png" alt="" /></p>
        <p>Borclarini odemeyen arkadaslarin artik cok canini sikmaya basladi. O zaman onlarin bu nankorluklerini sosyal medyada paylas herkes onun ne mal oldugunu ogrensin.... <a href="#">Dahasi &raquo;</a></p>
      </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br class="clear" />
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div id="container">
   <p align="center" class="deneme"> <span class="d"><span class="deneme">Uygulama tamamen ucretsiz olup kullanmak icin tek ihtiyaciniz  bir <a href="https://twitter.com/signup"><img src="images/Untitled-1.png" width="131" height="26" /></a>hesabidir..</span></span></p>
<p align="center"><a href="/auth/twitter"><img src="images/connect-with-twitter.png" width="253" height="50" /></p>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
   <%end%>

   

