
     <% if current_user %>
   
      <div id="main">
        
      <div class="left">
        <p>&nbsp;</p>
     <h6> Hosgeldin,</h6>
        <p>&nbsp;</p>
        <h6><%=current_user.name.upcase%></h6>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
      
         
       

          
       </div>
      
    </div>
    
          <% else %>
       
        
    <div id="main">
      <div class="left">
       
         <p align="center">  &quot;Ben yemedim sen ye...&quot;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h6>Demiyor musun ? O zaman bu uygulamayi bir dene !</h6>
<p>&nbsp;</p>
       
       
       
       </p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p align="center"><a href="/auth/twitter"><img src="images/connect-with-twitter.png" width="253" height="50" alt="Login" longdesc="/auth/twitter" /></a></p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
      </div>
      
    </div>
     <% end %>
   

